{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Volkhov&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="{% static 'productos/css/style.css' %}" rel="stylesheet">
  <script src="{% static 'productos/js/CSRFToken.js' %}"></script>  
</head>

<body>
  <header>
    <h1 class="marca">VeggyVeggy</h1>
  </header>
  <div class="nav-bg">
    <nav class="navegacion-principal contenedor">
      <a href="{%url 'home'%}">Inicio</a>
      <a href="{%url 'trabajaconnosotros'%}">Trabaja con nosotros</a>
      <a href="{%url 'articulos'%}">Productos</a>
      <a href="{%url 'contactanos'%}">Contáctanos</a>

      <div>
        <a class="dropdown" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-user-circle" width="28" height="28" viewBox="0 0 24 24"
            stroke-width="2" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="12" r="9" />
            <circle cx="12" cy="10" r="3" />
            <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
          </svg>
        </a>
          
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Cambiar Contraseña</a></li>
          <li><a class="dropdown-item" href="{%url 'cerrar_sesion'%}">Cerrar Sesión</a></li>
        </ul>
      </div>
      <a href="{%url 'carrito'%}">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <circle cx="6" cy="19" r="2" />
          <circle cx="17" cy="19" r="2" />
          <path d="M17 17h-11v-14h-2" />
          <path d="M6 5l14 1l-1 7h-13" />
        </svg>
      </a>
    </nav>
  </div>
  <video src="{% static 'productos/img/video.mp4' %}" autoplay="true" muted="true" loop="true"></video>
  
  <br>
  <h2 class="titulo-formulario"><span class="bg-titulo">&nbsp;Puedes comprar estos productos en tu tienda o supermercado más cercano!&nbsp;</span></h2>
  <br>

    <section class="panel-body"> 
      
      <div class = "table-responsive">
          <section class="container">
              <table border="2" class="table-dark table" id="producto tablita">
                <thead>
                  <tr>
                    <td scoope = "col" class = "texto">id Producto</td>
                    <td scoope = "col" class = "texto">Nombre Producto</td>
                    <td scoope = "col" class = "texto">Imagen Producto</td>
                    <td scoope = "col" class = "texto">Descripción Producto</td>
                  </tr>
                </thead>

                <tbody id="tablaJson" >
                  
                </tbody>
              </table>
          </section>
      </div>
    </div>
  </section>


  <br>
  {% if user.is_authenticated %}
    <br>
    <div class="sombra">
    <section class="panel-body"> 
      <div class = "table-responsive">
        <table border="2" class = "table-dark table" id="tablita">
          <tr>
            <th scoope = "col" class = "texto">Nombre</th>
            <th scoope = "col" class = "texto">Precio</th>
            <th scoope = "col" class = "texto">Imagen</th>
            <th scoope = "col" class = "texto">Descripcion producto</th>
            <th scoope = "col" class = "texto">Agregar al Carrito</th>
            {% if user.is_superuser %}
            <th scoope = "col" class = "texto">Modificar o Eliminar producto</th>
            {% endif %}
          </tr>
          {% for p in productos %}
          <tr>
            <td class = "texto">{{p.nombre}}</td>
            <td class = "texto">${{p.precio}}</td>
            <td><img src = "/{{p.img}}" width = "100%"></td>
            <td class = "texto">{{p.descripcion}}</td>
            {% if p.stock > 0 %}
            <td><button data-producto={{p.idProducto}} data-action="add" class="btn add-button editar-carrito">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart-plus" 
              width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <circle cx="6" cy="19" r="2" />
              <circle cx="17" cy="19" r="2" />
              <path d="M17 17h-11v-14h-2" />
              <path d="M6 5l6.005 .429m7.138 6.573l-.143 .998h-13" />
              <path d="M15 6h6m-3 -3v6" />
            </svg></button> {% if user.is_superuser %} {{p.stock}} </td> {% endif %}
            {% else %}
            <td><a href="#" class = "btn btn-danger disabled boton-t">Producto agotado</a></td>
            {% endif %}
            {% if user.is_superuser %}
            <td><a class= "btn" href="{% url 'modificar_producto' p.idProducto %}" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="20" height="20" viewBox="0 0 24 24" 
              stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
              <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
              <line x1="16" y1="5" x2="19" y2="8" />
            </svg></a>
            <a class= "btn" href="{% url 'eliminar_producto' p.idProducto %}" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="20" height="20" 
              viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <line x1="4" y1="7" x2="20" y2="7" />
              <line x1="10" y1="11" x2="10" y2="17" />
              <line x1="14" y1="11" x2="14" y2="17" />
              <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
              <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
            </svg></a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </section>
  </div>
  {% endif %}

  <br>
  {% if user.is_superuser %}
  <section>
    <h3 class = "agregprod"><a href="{%url 'agregar_producto'%}">Agregar productos</a></h3>
  </section>
  {% endif %}

  <!--<section class="contenido-producto">
      <h4 class="icons-producto">Nombre producto 1<abbr title="Descripción del producto 1"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="20" height="20" viewBox="0 0 24 24" stroke-width="3" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="12" cy="12" r="9" />
        <line x1="12" y1="8" x2="12.01" y2="8" />
        <polyline points="11 12 12 12 12 16 13 16" />
      </svg></abbr></h4>

      <img src="img/ProductosinImagen.png" alt="Producto 1" width="300" height="300">
    </section>
  
    <section class="contenido-producto">
      <h4 class="icons-producto">Nombre producto 2<abbr title="Descripción del producto 2"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="20" height="20" viewBox="0 0 24 24" stroke-width="3" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="12" cy="12" r="9" />
        <line x1="12" y1="8" x2="12.01" y2="8" />
        <polyline points="11 12 12 12 12 16 13 16" />
      </svg></abbr></h4>

      <img src="img/ProductosinImagen.png" alt="Producto 2" width="300" height="300">
    </section>
  
    <section class="contenido-producto">
      <h4 class="icons-producto">Nombre producto 3<abbr title="Descripción del producto 3"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="20" height="20" viewBox="0 0 24 24" stroke-width="3" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="12" cy="12" r="9" />
        <line x1="12" y1="8" x2="12.01" y2="8" />
        <polyline points="11 12 12 12 12 16 13 16" />
      </svg></abbr></h4>

      <img src="img/ProductosinImagen.png" alt="Producto 3" width="300" height="300">
      <br>  
    </section>-->
  </div>

  <br>
  <br>

  <footer class="pie-pagina">
    <h4>Contacto</h4>
    <p>veggyveggyveganfood@gmail.com</p>
    <p>Fono: (+56 9)99311218</p>
    <p>xxxxxxxx</p>
    <h5 class="contacto-text">Ingresa a nuestras redes sociales!</h5>
    <br>
    <div class="contacto">
      <section>
        <a href="https://www.youtube.com/channel/UC_zS0VC3eQw1jpRLx22i4fw/featured"><svg
            xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube" width="24" height="24"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="3" y="5" width="18" height="14" rx="4" />
            <path d="M10 9l5 3l-5 3z" />
          </svg></a>
      </section>
      <section>
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook"
            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
            stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg></a>
      </section>
      <section>
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter"
            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
            stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
          </svg></a>
      </section>
      <section>
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
            width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
            stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="4" y="4" width="16" height="16" rx="4" />
            <circle cx="12" cy="12" r="3" />
            <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
          </svg></a>
      </section>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="{% static 'productos/js/scripjson.js' %}"></script>  
  <script src="{% static 'productos/js/carrito.js' %}"></script>  

</body>

</html>